<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/dashboard/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard/assets/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="/dashboard/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/dashboard/assets/plugins/apex/apexcharts.css">
    <link rel="stylesheet" href="/dashboard/assets/css/style.css">
    @await RenderSectionAsync("Styles", required: false)
    
    <script src="/dashboard/assets/js/jquery.min.js"></script>
    <script src="/dashboard/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="offcanvas-overlay"></div>
    <div class="wrapper">
        <header class="header white-bg fixed-top d-flex align-content-center flex-wrap">
            <div class="logo"><a href="@Url.Action("Index", "Dashboard")" class="default-logo"><img src="~/dashboard/assets/img/logo.png" alt=""></a><a href="/AdminPanel" class="mobile-logo"><img src="/dashboard/assets/img/mobile-logo.png" alt=""></a></div>
            <div class="main-header">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-3 col-lg-1 col-xl-4">
                            <div class="main-header-left h-100 d-flex align-items-center">
                                <div class="main-header-user">
                                    <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                        <div class="menu-icon"><span></span> <span></span> <span></span></div>
                                        <div class="user-profile d-xl-flex align-items-center d-none">
                                            <div class="user-info">
                                                <h4 class="user-name">Abrilay Khatun</h4>
                                                <p class="user-email">abrilakh@gmail.com</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu"><a href="#">My Profile</a> <a href="#">task</a> <a href="#">Settings</a> <a href="#">Log Out</a></div>
                                </div>
                                <div class="main-header-menu d-block d-lg-none">
                                    <div class="header-toogle-menu"><img src="/dashboard/assets/img/menu.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 col-lg-11 col-xl-8">
                            <div class="main-header-right d-flex justify-content-end">
                                <ul class="nav">
                                    <li class="d-none d-lg-flex">
                                        <div class="main-header-date-time text-right">
                                            <h3 class="time"><span id="hours">21</span> <span id="point">:</span> <span id="min">06</span></h3><span class="date"><span id="date">Tue, 12 October 2019</span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="main-wrapper">
            <nav class="sidebar" data-trigger="scrollbar">
                <div class="sidebar-header d-none d-lg-block">
                    <div class="sidebar-toogle-pin"><i class="icofont-tack-pin"></i></div>
                </div>
                <div class="sidebar-body">
                    <ul class="nav">
                        <li class="nav-category">Main</li>

                        <li class="@(Context.Request.Path == "/AdminPanel/Dashboard" ? "active" : "")">
                            <a href="/AdminPanel/Dashboard">
                                <i class="icofont-pie-chart"></i>
                                <span class="link-title">Dashboard</span>
                            </a>
                        </li>

                        <li class="@(Context.Request.Path.StartsWithSegments("/AdminPanel") ? "active sub-menu-opened" : "")">
                            <a href="#"><i class="icofont-shopping-cart"></i> <span class="link-title">Ecommerce</span></a>
                            <ul class="nav sub-menu">
                                <li class="@(Context.Request.Path == "/AdminPanel/Products" ? "active" : "")">
                                    <a href="@Url.Action("Index", "Products")">List of Products</a>
                                </li>
                                <li class="@(Context.Request.Path == "/AdminPanel/Products/Create" ? "active" : "")">
                                    <a href="@Url.Action("Create", "Products")">Create a Products</a>
                                </li>
                                <li class="@(Context.Request.Path == "/AdminPanel/ProductsCatalog" ? "active" : "")">
                                    <a href="/AdminPanel/ProductsCatalog">Products Catalog</a>
                                </li>
                            </ul>
                        </li>                       
                    </ul>
                </div>
            </nav>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
        <footer class="footer">Dashmin © 2020 created by <a href="https://www.themelooks.com/">ThemeLooks</a></footer>
    </div>

    <script src="/dashboard/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/dashboard/assets/js/script.js"></script>
    <script src="/dashboard/assets/plugins/apex/apexcharts.min.js"></script>
    <script src="/dashboard/assets/plugins/apex/custom-apexcharts.js"></script>
    <script src="/dashboard/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>     

