@{
}

<!-- ======================= Middle Header Two Start ========================= -->
<header class="header-middle border-bottom border-neutral-40 py-4">
    <div class="container container-lg">
        <nav class="header-inner flex-between gap-8">
            <!-- Logo Start -->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")" class="link">
                    <img src="~/marketPro/assets/images/logo/logo-two.png" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->
            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none">
                <!-- Nav Menu Start -->
                <ul class="nav-menu flex-align ">
                    <li class="on-hover-item nav-menu__item has-submenu activePage">
                        <a href="javascript:void(0)" class="nav-menu__link text-heading-two">Home</a>
                        <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                            <li class="common-dropdown__item nav-submenu__item activePage">
                                <a href="@Url.Action("Index", "Home")" class="common-dropdown__link nav-submenu__link text-heading-two hover-bg-neutral-100"> Home Grocery</a>
                            </li>
                        </ul>
                    </li>
                    <li class="on-hover-item nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link text-heading-two">Pages</a>
                        <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                            <li class="common-dropdown__item nav-submenu__item">
                                <a href="@Url.Action("Index", "Wishlist")" class="common-dropdown__link nav-submenu__link text-heading-two hover-bg-neutral-100"> Wishlist</a>
                            </li>
                            <li class="common-dropdown__item nav-submenu__item">
                                <a href="@Url.Action("Index", "Cart")" class="common-dropdown__link nav-submenu__link text-heading-two hover-bg-neutral-100"> ShoppingCart</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item">
                        <a href="@Url.Action("Index", "Blog")" class="nav-menu__link text-heading-two">Blog</a>
                    </li>
                </ul>
                <!-- Nav Menu End -->
            </div>
            <!-- Menu End  -->

            <partial name="_LoginPartial" />

        </nav>
    </div>
</header>
<!-- ======================= Middle Header Two End ========================= -->

<!-- ==================== Header Two Start Here ==================== -->
<header class="header bg-white  pt-24 pb-24">
    <div class="container container-lg">
        <nav class="header-inner d-flex justify-content-between gap-16">
            <div class="d-flex w-100">

                <!-- Category Dropdown Start -->
                <div class="category-two h-100 d-none flex-shrink-0">
                    <button type="button" class="category__button flex-align gap-8 fw-medium bg-main-two-600 py-16 px-20 text-white h-100 md-rounded-top">
                        <span class="icon text-2xl d-md-flex d-none"><i class="ph ph-squares-four"></i></span>
                        <span class="d-lg-flex d-none">All</span>  Categories
                        <span class="arrow-icon text-md d-flex ms-auto"><i class="ph ph-caret-down"></i></span>
                    </button>

                    <div class="responsive-dropdown common-dropdown d-lg-none d-block nav-submenu p-0 submenus-submenu-wrapper shadow-none border border-gray-100">
                        <button type="button" class="close-responsive-dropdown rounded-circle text-xl position-absolute inset-inline-end-0 inset-block-start-0 mt-4 me-8 d-lg-none d-flex"> <i class="ph ph-x"></i> </button>

                        <div class="logo px-16 d-lg-none d-block">
                            <a href="https://localhost:7213/" class="link">
                                <img src="assets/images/logo/logo.png" alt="Logo">
                            </a>
                        </div>

                        <ul class="scroll-sm p-0 py-8 overflow-y-auto">
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Cell Phone</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Cell Phone</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Wear</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Wear</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Computer</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Computer</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Headphone</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Headphone</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Smart Screen</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Smart Screen</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Smart Home</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Smart Home</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Digital Accessories</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Digital Accessories</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span> Value Added Services</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title"> Value Added Services</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Car Products</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Car Products</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Ecological Products</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Ecological Products</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Flat</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Flat</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Commercial Terminal</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Commercial Terminal</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Headphone</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Headphone</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Smart Screen</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Smart Screen</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Itel</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category d-block on-hover-item text-white flex-shrink-0 w-310">
                    <button type="button" class="category__button flex-align gap-8 fw-medium p-16 bg-main-600 text-white rounded-top h-100 w-100">
                        <span class="icon text-2xl d-md-flex d-none"><i class="ph ph-squares-four"></i></span>
                        <span class="d-sm-flex d-none">All</span>  Categories
                        <span class="arrow-icon text-xl d-flex ms-auto"><i class="ph ph-caret-down"></i></span>
                    </button>

                    <div class="responsive-dropdown on-hover-dropdown common-dropdown nav-submenu p-0 submenus-submenu-wrapper">
                        <button type="button" class="close-responsive-dropdown rounded-circle text-xl position-absolute inset-inline-end-0 inset-block-start-0 mt-4 me-8 d-lg-none d-flex"> <i class="ph ph-x"></i> </button>
                        <div class="logo px-16 d-lg-none d-block">
                            <a href="https://localhost:7213/" class="link">
                                <img src="assets/images/logo/logo.png" alt="Logo">
                            </a>
                        </div>
                        <ul class="scroll-sm p-0 py-8 w-300 max-h-400 overflow-y-auto">
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Phones</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Phones</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Potato &amp; Tomato</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Cucumber &amp; Capsicum</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Leafy Vegetables</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Root Vegetables</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Beans &amp; Okra</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Cabbage &amp; Cauliflower</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Gourd &amp; Drumstick</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Specialty</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Cameras</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>
                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Cameras</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")">Soda &amp; Cocktail Mix </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Sports &amp; Energy Drinks</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Non Alcoholic Drinks</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Packaged Water </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Spring Water</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Flavoured Water    </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Headphones</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>
                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Headphones</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Fresh Meat </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Frozen Meat</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Marinated Meat</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Catalog")"> Fresh &amp; Frozen Meat</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Category Dropdown End  -->
                <!-- Search Start  -->
                <form action="#" class="position-relative ms-20 max-w-870 w-100 d-md-block d-none">
                    <input type="text" class="form-control fw-medium placeholder-italic shadow-none bg-neutral-30 placeholder-fw-medium placeholder-light py-16 ps-30 pe-60 " placeholder="Search for products, categories or brands...">
                    <button type="submit" class="position-absolute top-50 translate-middle-y text-main-600 end-0 me-36 text-xl line-height-1">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
                <!-- Search End  -->
            </div>

            <!-- Header Middle Right start -->
            <div class="d-flex align-items-center gap-20-px flex-shrink-0">
                <a href="@Url.Action("Index", "Cart")" class="flex-align gap-6 item-hover">
                    <span class="text-2xl text-heading d-flex position-relative me-6 mt-6 item-hover__text">
                        <i class="ph-bold ph-shopping-cart"></i>
                        <span class="w-18 h-18 flex-center rounded-circle bg-success-600 text-white text-xs position-absolute top-n6 end-n4">2</span>
                    </span>
                    <span class="text-md text-neutral-500 item-hover__text fw-medium d-none d-lg-flex">Cart</span>
                </a>
                <a href="javascript:void(0)" class="d-flex align-content-around gap-10 fw-medium text-main-600 py-14 px-24 bg-main-50 rounded-pill line-height-1 hover-bg-main-600 hover-text-white">
                    <span class="d-sm-flex d-none line-height-1"><i class="ph-bold ph-user"></i></span>
                    Account
                </a>
            </div>
            <!-- Header Middle Right End  -->

        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->